<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DS.Documents.Imaging" version="7.0.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Chart.ja" version="18.0.2" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Chart.Win.ja" version="18.0.2" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.DataProviders" version="3.0.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Document" version="4.5.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Document.Drawing.Gc" version="4.5.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Document.Drawing.Gdi" version="4.5.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Drawing.Gc" version="3.9.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Drawing.Gdi" version="3.9.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Rdl" version="3.9.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Rendering" version="3.9.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Core.Scripting" version="3.9.0" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.ja" version="18.0.2" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Viewer.Common.ja" version="18.0.2" targetFramework="net462" />
  <package id="MESCIUS.ActiveReports.Viewer.Win.ja" version="18.0.2" targetFramework="net462" />
  <package id="MESCIUS.Data.DataEngine" version="4.0.0" targetFramework="net462" />
  <package id="MESCIUS.Data.ExpressionInfo" version="4.0.0" targetFramework="net462" />
  <package id="MESCIUS.Data.VBFunctionLib" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="6.0.8" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>